<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <alias name="dataSource" alias="picturemgnDataSource"/>

    <import resource="classpath*:META-INF/core/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/entities/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/crmadapter/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/picturemgn/spring-model-cfg.xml"/>
    <beans profile="devp">
        <jee:jndi-lookup id="svr02DataSource" jndi-name="java:comp/env/jdbc/svr02"/>
        <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/batch"/>
        <bean id="multipleDataSource" class="com.legooframework.model.core.jdbc.MultipleDataSource">
            <property name="config">
                <util:list value-type="java.lang.String">
                    <value>name=devp;dataSource=svr02DataSource;companys=1,3,4,5,6,41,43,49,50,54,57,59,61,62,63</value>
                </util:list>
            </property>
        </bean>
    </beans>
    <beans profile="test">
        <jee:jndi-lookup id="svr02DataSource" jndi-name="java:comp/env/jdbc/svr02" />
        <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/batch" />
        <bean id="multipleDataSource" class="com.legooframework.model.core.jdbc.MultipleDataSource">
            <property name="config">
                <util:list value-type="java.lang.String">
                    <value>name=devp;dataSource=svr02DataSource;companys=1,3,4,5,6,41,43,49,50,54,57,59,61,62,63</value>
                </util:list>
            </property>
        </bean>
    </beans>
</beans>
