<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-http="http://www.springframework.org/schema/integration/http"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd
                           http://www.springframework.org/schema/integration/http https://www.springframework.org/schema/integration/http/spring-integration-http.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <import resource="classpath*:META-INF/core/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/httpproxy/spring-model-cfg.xml"/>

    <util:list id="converters">
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
    </util:list>

    <int-http:inbound-gateway id="httpChannelAdapter" request-channel="request-channel" path="/hao/xiaojie.json"
                              request-payload-type="java.util.Map" message-converters="converters"
                              supported-methods="POST"/>
    <int:publish-subscribe-channel id="request-channel"/>
    <int:service-activator input-channel="request-channel" ref="httpProxyService" method="postProxy"/>
</beans>
