<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
        <qualifier value="transactionManager"/>
    </bean>

    <alias name="dataSource" alias="schedulerDataSource"/>
    <alias name="dataSource" alias="wechatcmdDataSource"/>
    <alias name="dataSource" alias="crmJobDataSource"/>

    <import resource="classpath*:META-INF/core/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/entities/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/crmadapter/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/wechatcmd/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/crmjob/spring-model-cfg.xml"/>
    <import resource="classpath*:META-INF/scheduler/spring-model-cfg.xml"/>

    <beans profile="devp">
        <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/acp"/>
    </beans>
    <beans profile="test">
        <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/acp"/>
    </beans>
</beans>
