<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss}][%t]%class{36} [%M] - %msg%xEx%n"/>
        </Console>
        <!--
        <RollingFile name="Daily_rolling_file" fileName="C:\\workspace\\temp\\csosm.log"
                     filePattern="C:\\workspace\\temp\\csosm_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss}][%t]%class{36} [%M] - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
        -->
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.legooframework" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.csosm" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework.integration.logger" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework.integration.http.outbound" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>